{% extends 'core/base.html' %}
{% block title %}portfolio{% endblock %}  <!-- Cambiar el título de la página -->
{%block background%}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{%endblock%}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading text-center">Trabajos realizados</span>
{% endblock %}

{% block content %}
<!-- Proyecto Calculadora -->
<div class="container">
    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/Calculadora.png' %}">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Calculadora</h2>   
            <p>
                Calculadora de operaciones matemáticas básicas. Programa realizado en Python y Tkinter.
                implementando funciones y botones para realizar las operaciones matemáticas básicas.
            </p>
        </div>
    </div>
</div>
{% endblock %}

