{% extends 'core/base.html' %}
{% block title %}portfolio{% endblock %}  <!-- Cambiar el título de la página -->
{%block background%}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{%endblock%}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading text-center">Trabajos realizados</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/econome.png' %}">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Econome</h2>   
            <p>
                Aplicacion web para la gestion de finanzas personales
                incluye un login para que el usuario pueda acceder a su cuenta y un dashboard para ver su estado financiero.
                formulario para agregar ingresos y gastos, y un grafico para ver el progreso de las finanzas.
                se programo con python y flask, las librerias usadas son sqlite3, sqlalchemy, y flask_login
                se utilizo bootstrap para el diseño de la pagina.
                <br>
                <br>
                <a href="https://github.com/YeraldoCode/EconoMe-app" target="_blank">Ver codigo</a>
            </p>
        </div>
    </div>
</div>



<!-- Proyecto infobag -->
<div class="container">
    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/InfoBag.png' %}">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">InfoBag</h2>   
            <p>
                Aplicacion de escritorio donde se aplica la tecnica del web scraping para obtener informacion de las paginas web.
                esta aplicacion obtiene informacion de las empresas que cotizan en la bolsa de valores, para ello se utiliza la API de Yahoo Finance.
                Al agregar el icono de la empresa en la barra de busqueda, se obtiene la informacion de la empresa y se muestra en una ventana emergente.
                Se programo con python y tkinter, las librerias usadas son beautifulsoup4, requests, pandas, y yahoo_fin.
                <br>
                <br>
                <a href="https://github.com/YeraldoCode/InfoBag" target="_blank">Ver codigo</a>
            </p>
        </div>
    </div>
</div>



<!-- Proyecto Ping Pong -->
<div class="container">
    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/PingPongapp.png' %}">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Ping Pong game</h2>   
            <p>
                Juego de Ping Pong realizado en Python y Pygame.
                Implementando graficos y sonidos para el juego, tiene un menu de inicio y un menu de opciones.
                Tambien tiene un sistema de puntuacion y un sistema de colisiones.
                <br>
                <br>
                <a href="https://github.com/YeraldoCode/PinpongApp" target="_blank">Ver codigo</a>
            </p>
        </div>
    </div>
</div>

<!-- Proyecto Calculadora -->
<div class="container">
    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/Calculadora.png' %}">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Calculadora</h2>   
            <p>
                Calculadora de operaciones matemáticas básicas. Programa realizado en Python y Tkinter.
                implementando funciones y botones para realizar las operaciones matemáticas básicas.
                <br>
                <br>
                <a href="https://github.com/YeraldoCode/AppCalculadora" target="_blank">Ver codigo</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

