{% extends 'core/base.html' %}
{% block title %}contact{% endblock %}

{%block background%}{% load static %}{% static 'core/img/contact-bg.jpg' %}{%endblock%}
{% block headers %}<h1>Contacto</h1><span class="subheading">¿Tienes algo que decirme? ¡Escríbeme!</span>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          ¿Quisieras tener tu propia aplicacion web, o de escritorio? ¿Necesitas ayuda con un proyecto?
          ¿Quieres aprender a programar?
          ¡Escríbeme! Estoy aquí para ayudarte.
        </p>
        <br>
        <p><b>Correo Electronico:</b> yeramtza@gmail.com</p>
        <p><b>Teléfono:</b> +52 8125897393</p>
        <p><b>Dirección:</b> Apodaca, Nuevo Leon</p>
        <br>
      </div>
    </div>
  </div>
{% endblock %}

